* {
    font-family: 'Courier New', Courier, monospace;
}

/* h1 {
    padding-top: 25px;
    text-align: center;
} */

.weatherContainer {
    text-align: center;
    padding-top: 250px;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.weatherCont{
    padding: 25px;
}

.temperatureText {
    font-size: 4rem;
}

.list-group-item-dark{
    color: #d4d4d4;
    background-color: rgb(13, 109, 253);
}

/* .list-group-item {
    padding: 20px;    
} */

.weatherCont .weatherDiv{
    background-color: rgb(70, 70, 70);
}

.weatherContainerClass {
    padding-top: 25px;
    padding-bottom: 25px;
}

.blueDiv {
    padding: 15px;
}

.container-fluid {
    padding: 10px;
    background-color: rgb(70, 70, 70);
}

.container-fluid img {
    height: 50px;
}

table {
    width: 100%;
}