* {
    font-family: 'Courier New', Courier, monospace;
}

/* h1 {
    padding-top: 25px;
    text-align: center;
} */

.weatherContainer {
    text-align: center;
    padding-top: 250px;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.weatherCont{
    padding: 25px;
}

.temperatureText {
    font-size: 4.5rem;
}

.list-group-item-dark{
    color: #d4d4d4;
    background-color: rgb(13, 109, 253);
}

/* .list-group-item {
    padding: 20px;    
} */

.weatherCont .weatherDiv{
    background-color: rgb(70, 70, 70);
}

.weatherContainerClass {
    padding-top: 25px;
    padding-bottom: 25px;
}

.blueDiv {
    padding: 15px;
    color: linen;
}

.container-fluid {
    padding: 10px;
    background-color: rgb(70, 70, 70);
}

.container-fluid img {
    height: 50px;
}

table {
    width: 100%;
    font-size: 1.3rem;
}

.weatherInDiv {
    width: 250px;
    height: 100px;
    font-size: 1.25rem;
    color: linen;
}

h5 {
    padding-top: 2px;
    font-size: 1rem;
    color: rgb(131, 131, 131);
}

.finalDiv {
    padding-bottom: 50px;
}

/* Smartphones (portrait) ----------- */
/* @media only screen and (max-width : 399px) {
    /* Styles */
    /* body {
        width: 105%;
    }
    .weatherInDiv {
        height: 90px;
        width: 90px;
        font-size: 0.5rem;
    }

    h5 {
        font-size: 0.5rem;
    }

    table {
        font-size: 0.6rem;
    }

    }
 */ 


@media only screen and (max-width : 400px) {
    /* Styles */
    body {
        width: 105%;
    }
    .weatherInDiv {
        height: 80px;
        width: 80px;
        font-size: 0.7rem;
    }

    h5 {
        font-size: 0.75rem;
    }

    table {
        font-size: 0.7rem;
    }

    }

/*         
@media only screen and (max-width : 500px) {
    .weatherInDiv {
        height: 110px;
        width: 110px;
        font-size: 1rem;
    }

    h5 {
        font-size: 0.85rem;
    }

    table {
        font-size: 0.8rem;
    }

    } */