* {
    font-family: 'Courier New', Courier, monospace;
}

/* h1 {
    padding-top: 25px;
    text-align: center;
} */

.weatherContainer {
    text-align: center;
    padding-top: 250px;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.weatherCont{
    padding: 25px;
}

.list-group-item-dark{
    color: #d4d4d4;
    background-color: #212529;
}